.contacto{
    background-color: var(--branco);
    padding: 1rem;
}

.contacto__titulo{
    font-size: 1.29rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.contacto__titulo, 
.contacto__texto{
    background: var(--azul-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.contacto__texto{
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.contacto__email{
    padding: 1rem;
    border-radius: 1.5rem;
    width: 90%;
    outline: none;
    border: solid 1px var(--azul);
    color: var(--azul);
}
.contacto__email::placeholder{
    font-family: var(--font-principal);
    font-size: 0.9rem;
    color: var(--azul);
    background: url(../img/Email.svg) no-repeat;
    background-position: 1rem;
    padding: 3rem;
}