.cabecalho__menu-hamburguer {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__botao:checked ~ .container__label > .cabecalho__menu-hamburguer{
    background-image:url(../img/menu_black_24dp\ 1.svg) ;
}


.container__botao:checked ~ .container__label{
    background: var(--azul-gradient);
}

.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
} 

.container__botao {
    display: none;
}
.lista-menu__titulo, 
.lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
} 

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    cursor: pointer;
}

.lista-menu__link {
    background: var(--azul-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo, 
.container__texto,
.opcoes{
    display: none;
}


@media screen and (min-width:1024px) {
    .container__titulo{
        font-family: var(--font-secundaria);
        font-size: 1.875rem;
        display: block;
        font-weight: 400;

    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .opcoes__item{
        text-transform: uppercase;
    }


    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }
    .favoritos{
        display: none;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__label > .opcoes__item{
        background: var(--azul-gradient);
        color: var(--branco);
    }

    .opcoes__item{
        cursor: pointer;
        padding: 1rem 1rem 1rem 1rem;
    }

    .lista-menu__item:hover{
        background: var(--azul-gradient);
        cursor: pointer;
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width:1728px){

    .cabecalho{
        padding: 0 2rem;
    }
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .container__texto{
        display: block;
        color: var(--preto);
        font-size: 1.25rem;
    }

    .container__titulo{
        margin-right: 2rem;
    }

    .opcoes{
        margin-right: auto;
    }
}